<tr>
    <td>1</td>
    <td>Vaibhav Mahindru</td>
    <td>xyz@gmail.com</td>
    <td>0123456789</td>
    <td>Male</td>
    <td>xyz, xyz, xyz, xyz</td>
    <td>
        <a href="/update-user" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a class="btn border-shadow delete">
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>